/* $-custom Properties-$ */
:root {
  --primary-color: #42c6e7;
  --secondary-color: #e2f89c;
  --tetiary-color: #031926;
  --tetiary-color-2: #797596;
  --tetiary-color-2-1: #7975969c;
  --tetiary-color-3: #e3f89c9d;
}

/* $-width-$ */
html::-webkit-scrollbar {
  width: 10px;
}

/* $-Track-$ */
html::-webkit-scrollbar-track {
  background-color: var(--tetiary-color);
}

/* $-Handle-$ */
html::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: 8px;
}

/* $-Css-Resets-$ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
  background-color: var(--tetiary-color-2);
}

.overflow {
  overflow: hidden;
}

ul {
  list-style: none;
}

li {
  margin: 0 0.5rem;
}

a {
  text-decoration: none;
  color: var(--tetiary-color);
}

img {
  width: 10rem;
}

button {
  padding: 0.2em 1em;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  background-color: var(--tetiary-color);
  color: var(--secondary-color);
  margin: 1rem 0;
}

button:hover {
  color: var(--primary-color);
  transform: scale(1.01);
  transition: all 0.3s ease-in-out;
}

.br {
  border-radius: 1rem;
  margin: 0.1rem auto;
}

/* $-Utility-Classes-$ */
.flex {
  display: flex;
}

/* $-Leaderboard-$ */
.nav {
  padding: 1rem;
  justify-content: space-around;
  background-color: var(--secondary-color);
}

h1 {
  margin: 3rem auto;
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: var(--secondary-color);
  width: max-content;
  filter: drop-shadow(1px 1px 1px);
}

.foods {
  padding: 1rem;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
}

.food-card {
  width: 15.5rem;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--secondary-color);
  padding: 1rem;
}

.img {
  justify-content: center;
}

.content {
  gap: 1rem;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}

.summary {
  max-width: 17rem;
}

.desc {
  font-weight: bold;
}

.like {
  flex-direction: row;
  justify-content: space-between;
}

.leader {
  width: 100%;
  height: 1.5rem;
}

.comment {
  margin: 0.2rem 0;
  height: 2rem;
}

/* $-modal-$ */
.modal-filter {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: var(--tetiary-color-2-1);
  opacity: 0;
  pointer-events: none;
  transition: 0.8s;
  overflow: scroll;
  padding-top: 2rem;
}

.modal-filter::-webkit-scrollbar {
  display: none;
}

.modal-filter.open {
  opacity: 1;
  pointer-events: visible;
}

.modal {
  border-radius: 1rem;
  position: relative;
  padding: 1.5rem;
  width: max-content;
  transition: 0.7s;
  transform: scaleX(0);
  background-color: var(--secondary-color);
}

.modal.open {
  transform: scaleX(1);
}

.bx-x {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  border: 1px solid;
  border-radius: 30px;
  background-color: var(--tetiary-color);
  color: var(--secondary-color);
}

.modal-form {
  flex-direction: column;
}

.name {
  display: block;
}

footer {
  background-color: var(--secondary-color);
  padding: 1rem 0;
  text-align: center;
}
